<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weekoverzicht</title>
</head>
<body>
<table>
    <tr>
        <td>Monday</td>
        <td>17/01/2022</td>
        <td></td>
    </tr>
    <tr>
        <td>@taa_start@</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Wednesday</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Thursday</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Friday</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Saturday</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Sunday</td>
        <td></td>
        <td></td>
    </tr>
</table>
</body>
</html>